*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #102626;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 1px linear-gradient(#0001, #0004)
}
.container .loder{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #0d2323;
    animation: sping 2s linear infinite;
}
.container .loder1{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: sping1 2s linear infinite;
}
.container .loder2{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: sping2 2s linear infinite;
}
@keyframes sping {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
@keyframes sping1 {
    0%{
        transform: rotate(120deg);
    }
    100%{
        transform: rotate(480deg);
    }
    
}

@keyframes sping2 {
    0%{
        transform: rotate(240deg);
    }
    100%{
        transform: rotate(600deg);
    }
    
}
.container .loder::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background:linear-gradient(to top, transparent, rgba(0, 0, 255, 0.445));
    background-size: 100px 180px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.container .loder1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background:linear-gradient(to top, transparent, rgb(255, 255, 0, 0.445));
    background-size: 100px 180px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.container .loder2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background:linear-gradient(to top, transparent, rgb(255, 0, 0, 0.445));
    background-size: 100px 180px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.container .loder::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px blue,
    0 0 30px blue,
    0 0 40px blue,
    0 0 50px blue,
    0 0 60px blue,
    0 0 70px blue,
    0 0 80px blue,
    0 0 90px blue,
    0 0 20px blue,
    0 0 100px blue;
}
.container .loder1::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: yellow;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px yellow,
    0 0 20px yellow,
    0 0 30px yellow,
    0 0 40px yellow,
    0 0 50px yellow,
    0 0 60px yellow,
    0 0 70px yellow,
    0 0 80px yellow,
    0 0 90px yellow,
   0 0 100px yellow;
}
.container .loder2::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px red,
    0 0 20px red,
    0 0 30px red,
    0 0 40px red,
    0 0 50px red,
    0 0 60px red,
    0 0 70px red,
    0 0 80px red,
    0 0 90px red,
   0 0 100px red;
}
.container .loder span{
    position: absolute;
    top:20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #102626;
    border-radius: 50%;
}
.container .loder1 span{
    position: absolute;
    top:20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #102626;
    border-radius: 50%;
}
.container .loder2 span{
    position: absolute;
    top:20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #102626;
    border-radius: 50%;
}